@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.wrap {
  display: flex;
  max-width: 1440px;
  padding: 64px 23%;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.payment_info_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.payment_info_company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  color: #B8B8B8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.12px;
  white-space: pre-line;
}

.payment_info_price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.payment_info_price_pay {
  color: var(--Text-Dark-Grey, #222);
  /* H2 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
  letter-spacing: -0.4px;
}

.payment_info_price_price {
  color: var(--Text-Dark-Grey, #222);
  /* H1 */
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 117.647% */
  letter-spacing: -1.7px; 
}

.payment_info_price_invoice {
  color: var(--Text-Dark-Grey, #222);
  /* Text Normal 2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
}



.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin: 40px 0px 40px 0px;
}

.label {
  color: var(--Text-Dark-Grey, #222);
  display: block;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
  letter-spacing: -0.4px;
  margin-bottom: 24px;
}

.card_wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}




button {
  border: none;
  border-radius: 8px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: var(--Accent-Main, #FA7342);
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 28px;
  cursor: pointer;
}

.remaining_balance {
  color: var(--Text-Light-grey, #B8B8B8);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
}

#card-button[disabled] {
  background: #808080;
}

#card-errors {
  height: 20px;
  padding: 4px 0;
  color: #fa755a;
}

.form-row {
  width: 100%;
  float: left;
}

.token {
  color: #32325d;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.wrapper {
  width: 670px;
  margin: 0 auto;
  height: 100%;
}



.spinner-container {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  margin-bottom: 24px;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner div {
  transform-origin: 40px 40px;
  animation: spinner 1.2s linear infinite;
}
.spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #9ccc65;
}
.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* charge card form end */


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.input {
  width: 62px;
  padding: 12px 16px;
  border-radius: 12px;
  font-family: Inter;
  border: 1px solid var(--Text-Extra-Light-Grey, #D3D3D3);
  background: var(--White, #FFF);
}


.table_head {
  color: var(--Text-Light-grey, #B8B8B8);
  /* Text Small */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
}
.table_body {
  color: var(--Text-Dark-Grey, #222);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
}
.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.fl-detail {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.wrap-text-content {
  word-break: break-all;
}

.item-description {
  white-space: pre-wrap;
}

.content-margin {
  margin: 1em 0;
}

.vertical-align-top {
  vertical-align: top;
}

.description-td {
  width: 60%;
}

.totals-div {
  color: var(--Text-Dark-Grey, #222);
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-left: auto;
}

.title-curr {
  color:  #222;
  font-size: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
  letter-spacing: -0.4px;
}

.payment-info-block {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 12px;
  background:  #FBFBFB;

  margin: 40px 0;
}

.payment-info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}

.payment-select-block {
  display: flex;
  width: 240px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;

}

.value-name {
  color:  #B8B8B8;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 120% */
  letter-spacing: 0.1px;
}

.value-data {
  color: #222;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.dropdown {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 300;

  max-width: 210px;
}

.dropdown__switch:checked + .dropdown__options-filter .dropdown__select {
  transform: scaleY(1);
  opacity: 1;
}

.dropdown__switch:checked + .dropdown__options-filter .dropdown__filter::after {
  transform: rotate(-135deg);
}

.dropdown__options-filter {
  width: 100%;
  cursor: pointer;
}

.dropdown__filter {
  display: flex;
  max-height: 48px;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  position: relative;

  border-radius: 12px;
  border: 1px solid  #D3D3D3;
  background:  #FFF;
}

.dropdown__filter:focus {
  outline: none;
}

.dropdown__filter::after {
  position: absolute;
  top: 45%;
  right: 20px;
  content: '';
  width: 5px;
  height: 5px;
  border-right: 1px solid #595959;
  border-bottom: 1px solid #595959;
  transform: rotate(45deg) translateX(-45%);
  transition: 0.3s ease-in-out;
}

.dropdown__select {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  border-radius: 18px;
  opacity: 0;
  transition: 0.2s ease-in-out;

  border: 1px solid  #D3D3D3;
}

.dropdown__select-option {
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
  transition: 0.3s;
}

.dropdown__select-option:last-of-type {
  border-bottom: 0;
}

.dropdown__select-option:hover {
  background-color: #e9ecef;
}


@media screen and (max-width: 1024px) {
  .wrap {
    padding: 64px 15%;
  }
}

@media screen and (max-width: 769px) {

  .payment-info-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .wrap {
    padding: 64px 12%;
  }

  .description-td {
    width: 40%;
  }
  .stripe-items-table {
    width: 90%;

  }
  .totals-div {
    width: 90%;
  }
}